@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css)
@import url(http://fonts.googleapis.com/css?family=Inconsolata)
@import url(http://fonts.googleapis.com/css?family=Asap)

body
  font-size: 17px
  font-family: 'Noto Sans Japanese', sans-serif
  font-weight: 200
  line-height: 1.7rem

  a
    text-decoration: none
    color: black

    &:hover
      text-decoration: underline

  > header
    padding: 10rem 0 8rem 0

    > h1
      font-family: 'Asap', serif

  nav
    ul
      list-style: none
      padding: 0
      display: flex

      li
        margin-right: 2rem

  > *
    background: white
    width: 42rem
    padding: 1rem 4rem
    margin: 0 auto

    article:first-child
      margin-top: 1rem

    article
      margin-top: 8rem

      time
        display: block
        margin-bottom: -1rem
        font-size: 1rem
        color: #CCC

      h2
        margin: 1.5em 0 0.85em 0

      p
        margin: 1.5rem 0

      strong
        font-weight: 400

    dl dd
      margin-bottom: 1em

    pre
      background: #f8f8f8
      overflow: auto
      line-height: 1.3em

    code
      font-family: "Inconsolata", monospace

    p > code
      background: #f8f8f8
      border: 1px solid #CCC
      border-radius: 2px
      padding: 0 5px
