%article
  %h1 Profile
  %dl
    %dt Author
    %dd= config.author
    %dt Image
    %dd
      %img{src: 'https://secure.gravatar.com/avatar/de0df5acda15a9c7eeb6c28a5e5d4e8e.png?d=retro&r=PG&s=48', alt: 'gravatar image'}
    %dt Recent Activities
    %dd
      %a{href: 'http://rsss.be/hibariya', target: '_blank', title: 'RSSS'} RSSS
    %dt Site Generator
    %dd
      %a{href: 'https://github.com/hibariya/retter', target: '_blank', title: 'Retter'} Retter
