%article
  %h1 About
  %dl
    %dt Author
    %dd= link_to config.author, 'http://hibariya.org/', target: '_blank'
    %dt GitHub
    %dd
      - link = 'https://github.com/hibariya'
      = link_to link, link, target: '_blank'
    %dt Twitter
    %dd
      - link = 'https://twitter.com/hibariya'
      = link_to link, link, target: '_blank'
